@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}
/* got these from tailwind config where i extended the colors */
.default-line-color {
  background-color: theme("colors.system.purple50");
}

.change-line-color {
  background-color: theme("colors.system.green60");
}
